@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    color: white;
}
.corpo{
    display: flex;
    width: 100%;
    height: 100%;
}
.left_side{
    width: 45%;
    height: 100%;
}
/* Direita */
.rigth_side{
    width: 55%;
    height: 100%;
    background-image: url(Estilos/Imagens/login_cadastro/soloLunarCortado7.png);
}
.items_right_side{
    width: 100%;
    height: 80%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxes{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Title */
.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titles .title{
    font-size:50px;
}

/* inputs */
.box_input{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxes .box{
    height: 30%;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    justify-content: space-around;
}
.box input{
    font-family: "popins", sans-serif;
    border:none;
    background-color: transparent;
    border-bottom: solid 2px white;
    outline: 0;
    padding: 2px;
    color: white;
    font-size: 17px;
}
.box input:hover{
    border-bottom: solid 2px #7B78BF;
    transition: 0.3s;
}
.box input:focus{
    border-bottom: solid 2px #7B78BF;
}

.boxes button{
    font-family: 'Poppins', sans-serif;
    width: 100px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.boxes button:hover{
    display: flex;
    align-items: center;
    height: 33px;
    background-color: #131026;
    color: white;
    border: solid 2px white;
}
.boxes button:focus{
    background-color: #131026;
    color: white;
}
.items_right_side .link{
    font-size: 13px;
}
.items_right_side .link a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
.items_right_side .link :hover{
    color: #6895dc;
    border-bottom:solid 1px #254c8c;
}
a{
    text-decoration: none;
}


/* Esquerda */
.left_side{
    background-color: black;
}