@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}
.tela1{
    /* background: rgb(32, 32, 32) url(https://media4.giphy.com/media/W5GyJBpRgszhm/giphy.gif?cid=ecf05e47ksqnifr9mcob26kwhfjpc5i89tcngf8s2yfhz7k7&rid=giphy.gif&ct=g); */
    background-image: url(Imagens/Corpo/pillarsOfCreatinHubbleCortado2.jpg);
    width: 100%;
    height:84vh;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
}
.tela1::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, #00000000 0, #000000 10%, #000);
}
.tela1::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    background: linear-gradient(to top, #00000000 0, #00000000 70%, rgba(0, 0, 0, 0.59));
}
/* Navbar */
header{
    background-color: rgba(3, 3, 3, 0.185);
}
.container{
    /* border: solid 3px yellow; */
    width: 80%;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    color: white;
}
.container nav .items{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
li{
    z-index: 10;
    display: flex;
    align-items: center;
    list-style: none;
}

/* Conteúdo */
.conteudo_tela1{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: auto;
}
.titulo{
    font-size: 40px;
    margin: 0px;
    color: #fafafa;
    font-weight: 800;
}
.titulos{
    display: flex;
    flex-direction: column;
}
.texto1_1{
    margin-top: 5%;
    font-size: 20px;
}
.tela1 a{
    text-decoration: none;
    color: white;
}


/* Tela2 */
.tela2{
    height: 16vh;
    color: white;
    background-color: #161840;
}
.tela2_dados{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.dados{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    font-size: 17px;
}
.data{
    font-weight: 700;
    font-size: 35px;
}


/* Tela 3 */
.tela3{
    background-color: black;
}
.tela3_conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    color: white;
}
.tela3_conteudo .titulo{
    height: 1%;
    width: 40%;
    display: flex;
    align-items: center;
    height: 10%;
    padding: 9px;
    color: #4EA4D9;
    border-bottom: solid  3px #4EA4D9;
}
.tela3_conteudo .texts{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 90%;
}
.tela3_conteudo .subtitle{
    font-size: 24px;
    color: #4EA4D9;
}
/* Primeira parte */
.tela3_txt1{
    display: flex;
    align-items: center;
}
.tela3_txt1 .texts{
    z-index: 1;
    width: 70%;
}
.tela3_txt1 .image{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10%;
    color: #4EA4D9;
}
.tela3_txt1 img{
    z-index: 0;
    height: 250px;
}
.tela3_txt1 .image_context{
    font-size: 13px;
}
/* Segunda parte */
.tela3_txt2 img{
    width: 35%;
    position: absolute;
    margin: -5% -20%;
    z-index: 0;
}
.tela3_txt2 .texts{
    z-index: 1;
    width: 70%;
}
.tela3_txt2{
    display: flex;
    justify-content: space-around;
}


/* tela 4 */

.tela4{
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #161840;
    color: white;
}

/* Tela5 */

.tela5{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(Imagens/Corpo/pilarsOfCreation.png);
}
.tela5 .texts{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.tela5 .title{
    color: #ffffff;
    font-size: 35px;
    font-weight: 900;
}
.tela5 .subtitle{
    font-size: 20px;
    color: white;
}
.tela5 .text{
    color: white;
    align-self: flex-end;
}
.tela5:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, #00000000 0, #000000 40%, #000);
}
.tela5::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    background: linear-gradient(to top, #00000000 0, #00000000 70%, rgba(0, 0, 0, 0.393));
}
/* tela 6 */

.tela6{
    height: 100vh;
    width: 100%;
    background-color: #161840;
}
.tela6 .title{
    height: 20vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
}
.tela6 .boxes{
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.tela6 .boxes .box{
    height: 80%;
    width: 30%;
    border: solid 3px white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    border-radius: 10px;
}
.tela6 .boxes .box .subtitle{
    display: flex;
    align-items: center;
    height: 20%;
    color: #4EA4D9;
    font-weight: 800;
    font-size: 25px;
}
.tela6 .boxes .box .text{
    height: 80%;
    width: 90%;
    color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


/* Footer */

.footer{
    height: 40vh;
    width: 100%;
    position: relative;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(Imagens/Corpo/estrelas\(cortado\ arvoredo\).png);
    color: white;
}
.footer .container{
    width: 80%;
    height: 100%;
}

/* Primeira parte */
.footer .container .frase{
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .container .frase .frase_text{
    font-size: 27px;
    font-weight: 700;
}
.footer .container .frase .subline{
    font-size: 20px;
}

/* segunda parte */
.footer .container .boxes{
    display: flex;
    justify-content: space-between;
}
.footer .container .boxes .box1, .box2, .box3{
    display: flex;
    flex-direction: column;
}
.footer .container .boxes .box2{
    display: flex;
    align-items: center;
}
.footer .container .boxes .box3{
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

/* Scape room link */
.game_scape_room{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}
.game_scape_room .content{
    border: solid 3px white;
    width: 80%;
    height: 60%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    background-color: #161840;
}
.msg_future{
    width: 40%;
    outline: 0;
    border-radius: 5px;
}
.game_scape_room .content .title{
    font-size: 20pt;
}
.game_scape_room .content button{
    font-family: 'Poppins', sans-serif;
    width: 120px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.game_scape_room .content button:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131026;
    height: 33px;
    color: white;
    border: solid 2px white;
}