@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}
.container{
    /* border: solid 3px yellow; */
    width: 80%;
    margin: auto;
}
header{
    background-color: black;
    display: flex;
    align-items: center;
    height: 7vh;
}
nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
li{
    z-index: 10;
    display: flex;
    align-items: center;
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav a{
    height: 22px;
    align-items: center;
    /* padding: 0 7%; */
}
/* nav a:hover{
    border-bottom: solid 2px white;
    background-color: #312961;
    padding: 0 7%;
    border-radius: 4px;
} */


/* Conteudo */

.content{
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
}
.game{
    width: 80%;
    height: 93vh;
    margin: auto;
}
.game_area{
    height: 60%;
    background-image: url(Imagens/figma/e=mc2\(novo\).png);
}
.game_top{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game_top_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: #161840;
    border-radius: 15px;
    border: white 3px solid;
    color: white;
    font-size: 15px;
}
.game_top_content .title{
    font-size: 23px;
    font-weight: 400;
}
.game_top_content .text_normal{
    font-weight: 100;
}
/*--------- JOGO ---------*/

.game_images{
    /* border: solid 3px white; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.game img{
    width: 80%;
}

/* geral */
.point{
    position: absolute;
    margin: -105px 0 0 -795px;
}

.text_information{
    position: absolute;
    color: white;
    width: 50%;
    align-self: flex-end;
}

/* Botão de sair */
.exit_button_style{
    position: absolute;
    width: 30px;
    height: 35px;
    z-index: 2;
    background-color: transparent;
    /* border: solid 3px red; */
    border: none;
    display: flex;
    margin: 385px 0 0 -720px;
}

/* PRINCIPAL */

/* tabela periodica */
.game_area1_tabela{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: none;
    z-index: 2;
    background-color: transparent;
    position: absolute;
    margin: 200px 0 0 -275px;
}



/* Tela jornal */
.game_area1_journal{
    width: 40px;
    height: 34px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    position: absolute;
    margin: 180px 0 0 -215px;
}

/* Tela foto */
.game_area1_foto{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    position: absolute;
    margin: 190px 0 0 -115px;
}

/* Tela cofre */
.game_area1_cofre{
    width: 38px;
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    position: absolute;
    margin: 195px 0 0 70px;
}

/* Cofre */
/* Cofre fechado */
#game_area5_1 input{
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    /* border: red 3px solid; */
    border: none;
    background-color: transparent;
    position: absolute;
    color: white;
}
#game_area5_1 .sequencia1{
    width: 40px;
    height: 70px;
    text-align: center;
    font-size: 45pt;
    margin: 170px 0 0 10px;
}
#game_area5_1 .sequencia2{
    width: 40px;
    height: 70px;
    text-align: center;
    font-size: 45pt;
    margin: 170px 0 0 -240px;
}
#game_area5_1 .sequencia3{
    width: 40px;
    height: 70px;
    text-align: center;
    font-size: 45pt;
    margin: 170px 0 0 260px;
}

/* Relogio */
.game_area1_relogio{
    background-color: transparent;
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    margin: 85px 0 0 320px;
    display: flex;
    justify-content: center;
}
.text_information_clock{
    position: absolute;
    color: black;
    width: 50%;
    margin: 350px 0 0 300px;
}
/* Livro guia de galáxias */
.game_area1_galaxiasGuia{
    /* border: solid 3px red; */
    width: 25px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    position: absolute;
    margin: 105px 0 0 70px;
}

/* Livro galaxias */
.game_area1_galaxias{
    /* border: solid 3px red; */
    width: 40px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    position: absolute;
    margin: 155px 0 0 145px;
}

/* Tela de finalização */

.gameFinalizado{
    /* border: white solid 3px; */
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameFinalizado_content{
    width: 80%;
    height: 100%;
    margin: auto;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    border: solid white 3px;
}

.key_area{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gameFinalizado_content img{
    background-color: #161840;
    padding: 50px;
    border-radius: 20%;
}
/* Final */
/* .game_finalizado{
    display: flex;
    align-items: center;
} */


.gameFinalizado .content{
    border: solid 3px white;
    width: 80%;
    height: 30%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    background-color: #161840;
}
.msg_future{
    width: 40%;
    outline: 0;
    border-radius: 5px;
}
.gameFinalizado .content .title{
    font-size: 20pt;
}
.gameFinalizado .content button{
    font-family: 'Poppins', sans-serif;
    width: 120px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.gameFinalizado .content button:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131026;
    height: 33px;
    color: white;
    border: solid 2px white;
}