@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}
.container{
    /* border: solid 3px yellow; */
    width: 80%;
    margin: auto;
}
header{
    background-color: black;
    display: flex;
    align-items: center;
}
nav{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.content{
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
}
.game{
    width: 80%;
    height: 100vh;
    margin: auto;
}
.game_area{
    height: 80%;
    background-image: url(Imagens/figma/e=mc2\(novo\).png);
}
.game_top{
    width: 100%;
    height: 20%;
}