@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
}
.corpo{
    display: flex;
    width: 100%;
    height: 100%;
}
/* Esquerda */
.left_side{
    color: white;
    background-color: #0D0D0D;
    background-image: url(Imagens/login_cadastro/terra2cortada6.png);

    width: 45vw;
    height: 100%;

}
.items_left_side{
    height: 80%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titles .title {
    font-size: 50px;
}
.titles .title2 {
font-size: 20px;
}

.boxes{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* inputs */
.box_input{
    font-size: 22px;
    /* border: solid 3px white; */
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box_input input{
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: transparent;
    border-bottom: solid 2px white;
    padding: 2px;
    font-size: 17px;
    outline: 0;
    color: #ffffff;
}
.box_input input:hover{
    border-bottom: solid 2px #7B78BF;
    transition: 0.3s;
}
.box_input input:focus{
    border-bottom: solid 2px #7B78BF;
}
.boxes button{
    font-family: 'Poppins', sans-serif;
    width: 80px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.boxes button:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    background-color: #131026;
    color: white;
    border: solid 2px white;
}
.boxes button:focus{
    background-color: #131026;
    color: white;
}
/* .boxes button:hover{

} */
.links{
    font-size: 13px;
}
.links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.links a:hover{
    color: #6895dc;
    border-bottom:solid 1px #254c8c;
}
a{
    text-decoration: none;
}

/* Direita */
.rigth_side{
    background-color: #000000;
    /* background-image: url(Imagens/login_cadastro/mapaespacialescuro.png); */
    width: 60vw;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* .rigth_side .image{
    width: 70%;
    height: 70%;
    background-image: url(Imagens/login_cadastro/bebecomIAcolorido.jpg);
    background-size: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.rigth_side .image{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.rigth_side .image span{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 16pt;
}
.rigth_side .image img{
    width: 55%;
    border-radius: 50%;
}